@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="mg-b">Welcome</h1>
    @model SearchModel
    <h5>In this revision the entire search process is currently hardcoded. Hit the button and enjoy.</h5>
    <h5>Search with:</h5>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
    
        @Html.DropDownListFor(m => m.GoogleSelected, new SelectList(Enum.GetValues(typeof(SearchModel.SearchEngine))))
        <Html lang="en">
            <br/>
            <input type="submit" value="Search" class="searchButton mg-t"/>
        </Html>
    
    }
    <style>
        .mg-b {margin-bottom: 20px;}
        .mg-t {margin-top: 20px;}
    </style>

</div>