@using System.IO
@{
    ViewData["Title"] = "Results";
}
<h1>@ViewData["Title"]</h1>

<p>Here are your positions for today.</p>

@{
    var results = await File.ReadAllTextAsync("numberedResults.txt");
}

<td>
    @results
</td>